// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.main-navbar {
    z-index: 100 !important;
}

.main-section {
    margin-top: 80px !important;
}

.profile-page-avatar-wrapper {
    width: 200px !important;
    height: 200px !important;
}

.profile-page-avatar {
    min-height: 100% !important;
    min-width: 100% !important;
    object-fit: cover;
}

.topic-user-avatar-wrapper {
    width: 40px !important;
    height: 40px !important;
}

.topic-user-avatar {
    min-width: 100% !important;
    min-height: 100% !important;
    object-fit: cover;
}

.topic-with-one-file {
    max-height: 300px !important;
}


.topic-with-many-files {
    max-width: 45% !important;
    max-height: 300px !important;
}


@media screen and (max-width: 992px) {


    .main-section__element {
        width: 100% !important;
    }
}


